.card {
    position: relative;
    margin-bottom: 35px;
    min-height: 255px;
    min-width: 335px;
}

.card > img {
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card > p {
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 500;
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: large;
    padding-right: 100px;
}

.shadow {
    background: linear-gradient(180deg, #ffffff00 0%, #00000080 100%);
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}